:root {
  --hr: rgba(0, 0, 0, 0.05);
  --mono_fonts: 14px/1.5 Menlo, Consolas, monospace;
  --selection: #d7d4f0;
  --syntax_atom: #10a778;
  --syntax_error: #ffbedc;
  --syntax_gray_button: rgba(0, 0, 0, 0.07);
  --syntax_gray_button_active: rgba(0, 0, 0, 0.2);
  --syntax_gray_button_hover: rgba(0, 0, 0, 0.13);
  --syntax_key: #6636b4;
  --syntax_keyword: #c30771;
  --syntax_known_variable: #005f87;
  --syntax_normal: #1b1e23;
  --syntax_string: #008ec4;
  --back: #2c3e50;

  --hack-opacity: 0.5;
  --primary: rgb(83, 64, 242);

  --hack: {
    outline: 10px solid red;
    opacity: 0.5;
  }
}

.dark,
:root {
  --syntax_comment: #a9b0bc;
  --syntax_matchbracket: #20bbfc;
  --syntax_number: #20a5ba;
  --syntax_unknown_variable: #838383;
}

.dark {
  --hr: hsla(0, 0%, 100%, 0.1);
  --selection: #61656b;
  --syntax_atom: #44cca2;
  --syntax_error: #a51f5d;
  --syntax_gray_button: hsla(0, 0%, 100%, 0.07);
  --syntax_gray_button_active: hsla(0, 0%, 100%, 0.2);
  --syntax_gray_button_hover: hsla(0, 0%, 100%, 0.13);
  --syntax_key: #c39fff;
  --syntax_keyword: #ff5bb7;
  --syntax_known_variable: #4eafd8;
  --syntax_normal: #f4f4f4;
  --syntax_string: #9fdff7;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--back);

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #1b1e23;
  font: 17px/1.5 Iowan Old Style, Apple Garamond, Baskerville, Palatino Linotype,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0;
  padding: 0;
}

body.dark,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #f4f4f4;
}
body.dark a {
  color: #67b9d8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
a[href] {
  text-decoration: none;
}
a[href]:hover {
  text-decoration: underline;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: 90%;
}
code,
pre,
tt {
  font: var(--mono_fonts);
}
blockquote,
ol,
ul {
  max-width: 600px;
}
hr {
  background: no-repeat 50%/100% 1px
    linear-gradient(90deg, var(--hr), var(--hr));
  border: none;
  height: 1px;
  margin: 1em 0;
  padding: 1em 0;
}
pre {
  padding: 2px 0;
}
input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  width: 320px;
}
canvas,
input {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 14px;
  max-width: 640px;
  width: 100%;
}
th {
  text-align: left;
}
tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}
thead tr {
  border-bottom: 1px solid #ccc;
}

.collapsed,
.expanded,
.function,
.gray,
.import,
.string:after,
.string:before {
  color: var(--syntax_normal);
}
.collapsed,
.inspect a {
  cursor: pointer;
}
.caret {
  margin-right: 4px;
  vertical-align: middle;
}
.field {
  margin-left: 1em;
  text-indent: -1em;
}

.inspect {
  display: block;
  font: var(--mono_fonts);
  overflow-x: auto;
  padding: 6px 0;
  white-space: pre;
}
.error {
  border-left-color: #e7040f;
}
.error .inspect {
  white-space: pre-wrap;
  word-break: break-all;
}
.changed,
.running {
  border-left-color: #a9b0bc;
}
.string-expand {
  background: var(--syntax_gray_button);
  border-radius: 2px;
  color: var(--syntax_normal);
  cursor: pointer;
  font-size: 80%;
  margin-left: 6px;
  padding: 2px 6px;
  vertical-align: middle;
}
.string-expand:hover {
  background: var(--syntax_gray_button_hover);
}
.string-expand:active {
  background: var(--syntax_gray_button_active);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
button,
input,
textarea {
  outline: none;
}
.transparent {
  color: transparent;
}
.delay-short {
  animation-delay: 0.5s;
}
.fade-in {
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-name: c;
  opacity: 0;
}
.bump {
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-name: b;
}
.pea {
  pointer-events: all;
}
.pen {
  pointer-events: none;
}

code-block:focus-within {
  background-color: var(--near-white);
}

.search {
  box-shadow: none;
  color: var(--black-70);
  transition: width 0.15s ease;
  width: 6.5rem;
}
.search:focus,
.search:hover,
.search:valid {
  border-color: var(--black-30);
}
.search:focus,
.search:valid {
  background-color: var(--bg-near-white);
  width: 16rem;
}
.search::placeholder {
  color: #6f7c90;
}
.search:focus::placeholder {
  color: #434a56;
}
.placeholder-black-20::placeholder {
  color: #c5cad3;
}
.hover-shadow-4 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.15s ease;
}
.hover-shadow-4:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
.hover-blue:hover .hover-blue {
  color: var(--blue);
}
.line-error {
  background: #f7ccda;
}
@keyframes b {
  0% {
    transform: none;
  }
  25% {
    transform: scale(1.5);
  }
  to {
    transform: none;
  }
}
@keyframes c {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.w--full {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}
.hover-b--black-30:focus,
.hover-b--black-30:focus-within,
.hover-b--black-30:hover {
  border-color: var(--black-30);
}
.hover-rise {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.1s ease-out;
}
.hover-rise:active,
.hover-rise:focus,
.hover-rise:hover {
  transform: translateY(-1px);
}
.mb-25vh {
  margin-bottom: 25vh;
}
.listing-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 30em) {
  .listing-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 30em) and (max-width: 50em) {
  .listing-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.semitracked {
  letter-spacing: 0.016em;
}
.fullscreen-stretch {
  background-color: var(--white);
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

:root {
  --checkboard: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDEwdjEwSDB6bTEwIDEwaDEwdjEwSDEweiIgZmlsbD0iI2Y0ZjdmYSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
}

:root {
  --black: #1b1e23;
  --black-0125: rgba(0, 0, 0, 0.0125);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-10: #e2e5e9;
  --black-20: #c5cad3;
  --black-30: #a9b0bc;
  --black-40: #8c96a6;
  --black-50: #6f7c90;
  --black-60: #596373;
  --black-70: #434a56;
  --black-80: #2c313a;
  --black-90: #16191d;
  --blue: #266bd9;
  --border-radius-1: 0.125rem;
  --border-radius-2: 0.25rem;
  --border-radius-3: 0.5rem;
  --border-radius-4: 1rem;
  --border-radius-circle: 100%;
  --border-radius-none: 0;
  --border-radius-pill: 9999px;
  --border-width-1: 0.125rem;
  --border-width-2: 0.25rem;
  --border-width-3: 0.5rem;
  --border-width-4: 1rem;
  --border-width-5: 2rem;
  --border-width-none: 0;
  --box-shadow-1: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-1: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-4: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-5: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  --code: consolas, monaco, monospace;
  --code: menlo, consolas, monaco, monospace;
  --dark-blue: #1b4b98;
  --dark-gray: #333;
  --dark-green: #0e9923;
  --dark-pink: #d5008f;
  --dark-red: #e7040f;
  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.75rem;
  --font-size-headline: 6rem;
  --font-size-subheadline: 5rem;
  --gold: #ffb700;
  --gray: #777;
  --green: #2dc244;
  --height-1: 1rem;
  --height-2: 2rem;
  --height-3: 4rem;
  --height-4: 8rem;
  --height-5: 16rem;
  --hot-pink: #ff41b4;
  --letter-spacing-1: 0.1em;
  --letter-spacing-2: 0.25em;
  --letter-spacing-tight: -0.05em;
  --light-blue: #96ccff;
  --light-gray: #eeeef3;
  --light-green: #9eebcf;
  --light-pink: #ffa3d7;
  --light-purple: #a463f2;
  --light-red: #ff725c;
  --light-silver: #6f7c90;
  --light-yellow: #fbf1a9;
  --lightest-blue: #cdecff;
  --line-height-copy: 1.5;
  --line-height-solid: 1;
  --line-height-title: 1.25;
  --max-width-1: 1rem;
  --max-width-2: 2rem;
  --max-width-3: 4rem;
  --max-width-4: 8rem;
  --max-width-5: 16rem;
  --max-width-6: 32rem;
  --max-width-7: 48rem;
  --max-width-8: 64rem;
  --max-width-9: 96rem;
  --measure: 30em;
  --measure-narrow: 20em;
  --measure-wide: 34em;
  --mid-gray: #555;
  --moon-gray: #ccccd9;
  --navy: #001b44;
  --near-black: #111;
  --near-white: #f4f4f4;
  --near-white: #f7f7f9;
  --orange: #ff6300;
  --pink: #ff80cc;
  --purple: #5e2ca5;
  --red: #ff4136;
  --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  --serif: georgia, serif;
  --silver: #999;
  --spacing-extra-extra-extra-large: 16rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-small: 0.25rem;
  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --spacing-none: 0;
  --spacing-small: 0.5rem;
  --transparent: transparent;
  --washed-blue: #f6fffe;
  --washed-green: #e8fdf5;
  --washed-red: #ffdfdf;
  --washed-yellow: #fffceb;
  --white: #fff;
  --white-0125: hsla(0, 0%, 100%, 0.0125);
  --white-025: hsla(0, 0%, 100%, 0.025);
  --white-05: hsla(0, 0%, 100%, 0.05);
  --white-10: hsla(0, 0%, 100%, 0.1);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-30: hsla(0, 0%, 100%, 0.3);
  --white-40: hsla(0, 0%, 100%, 0.4);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white-70: hsla(0, 0%, 100%, 0.7);
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-90: hsla(0, 0%, 100%, 0.9);
  --width-1: 1rem;
  --width-2: 2rem;
  --width-3: 4rem;
  --width-4: 8rem;
  --width-5: 16rem;
  --yellow: gold;
}

.dark {
  --black: #f4f4f4;
  --black-10: #61656b;
  --black-20: #7d899b;
  --black-30: #8c96a6;
  --black-40: #9aa3b1;
  --black-50: #eeeef9;
  --black-50: #a9b0bc;
  --black-60: #b7bdc8;
  --black-70: #eeeef9;
  --black-70: #c5cad3;
  --black-80: #d4d8de;
  --black-90: #e2e5e9;
  --blue: #96ccff;
  --box-shadow-4: 0px 2px 12px 0px rgba(0, 0, 0, 0.6);
  --checkerboard: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMCAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDEwdjEwSDB6bTEwIDEwaDEwdjEwSDEweiIgZmlsbD0iIzIyMiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
  --dark-blue: #bcdeff;
  --light-gray: #1f2022;
  --light-yellow: hsla(53, 91%, 82%, 0.2);
  --mid-gray: #eeeef9;
  --moon-gray: #222;
  --near-white: #252424;
  --white: #333436;
  background: var(--white);
}
.dark.bg-near-white {
  background: var(--near-white);
}
.dark .hover-shadow-4 {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3);
  position: relative;
  transition: all 0.15s ease;
}
.dark .hover-shadow-4:hover {
  box-shadow: 0 0 3px 1px hsla(0, 0%, 100%, 0.7);
  transform: translateY(-1px);
}

/* Publish Button */
.publish:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  border: 3px solid;
}

.publish.publishing:after {
  font-size: 10px;
  text-indent: -9999em;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  transform: translateZ(0);
  animation: spin 1.1s infinite linear;
}

.publish:after {
  content: " ";
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.publish {
  outline: none;
  border: none;
  background: #ff4700;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 44px;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
  transition: width 0.25s ease 0.25s, border-radius 0.25s ease 0.25s,
    color 0.25s ease 0.5s, background 0.25s ease;
}

.publish:after {
  color: #ffffff;
  position: absolute;
  top: 7px;
  left: 7px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.publish.publishing {
  width: 44px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0);
  border-radius: 44px;
  transition: color 0.25s ease, width 0.25s ease 0.25s,
    border-radius 0.25s ease 0.25s;
  -webkit-animation: bounce 3s ease infinite;
  animation: bounce 3s ease infinite;
}
.publish.publishing:after {
  opacity: 1;
  transition: opacity 0.25s ease 0.5s;
}

.publish.published {
  background: #35b197;
  color: rgba(255, 255, 255, 0);
  width: 44px;
  border-radius: 44px;
  transition: background 0.25s ease;

  animation: hide 0.8s ease 0.5s 1 forwards;
}

.publish.published {
  mask: url(/icons/fontawesome/svgs/solid/check-circle.svg) no-repeat 50% 50%;
  -webkit-mask: url(/icons/fontawesome/svgs/solid/check-circle.svg) no-repeat
    50% 50%;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* Initial page loader */

.load .progress {
  position: absolute;
  pointer-events: none;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.load.connecting .progress {
  animation: connect 2s ease forwards;
}

.load.loading .progress {
  animation: download 2s ease forwards;
}

.load.ready .progress {
  animation: complete 0.5s ease forwards;
}

.load article {
  opacity: 0;
}

.load.ready article {
  animation: fade-in 0.5s ease forwards;
}

@keyframes connect {
  0% {
    transform: scale(0, 0.002);
  }
  100% {
    transform: scale(0.2, 0.002);
  }
}

@keyframes download {
  0% {
    transform: scale(0.2, 0.002);
  }
  100% {
    transform: scale(0.7, 0.002);
  }
}

@keyframes complete {
  0% {
    transform: scale(0.7, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
